
 @import "tailwindcss";

@theme {
  --color-background: var(--bg-color);
  --color-surface: var(--surface-color);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-accent: var(--accent-color);
  --color-border: var(--border-color);
}

@layer base {
  :root {
    --bg-color: #050505;
    --surface-color: #121212;
    --text-primary: #f0f0f0;
    --text-secondary: #9ca3af;
    --accent-color: #E2023a;
    --border-color: #27272a;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-primary);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 20px;
    border: 1px solid transparent;
  }
}

@layer components {
  .btn-gradient {
    background: linear-gradient(to bottom, #E2023a, #B71C1C);
    color: #ffffff;
    transition: all 0.2s ease;
  }

  .btn-gradient:hover {
    background: linear-gradient(to top, #ef4d4a, #B71C1C);
    box-shadow: 0 4px 15px rgba(226, 2, 58, 0.3);
  }

  .text-gradient {
    background: linear-gradient(to right, #E2023a, #B71C1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .text-accent {
    color: #E2023a;
  }
}