


 
 @import "tailwindcss";

@theme {
  --color-background: var(--bg-color);
  --color-surface: var(--surface-color);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-accent: var(--accent-color);
  --color-border: var(--border-color);
}

@layer base {
  :root {
    --bg-color: #09090b; 
    --surface-color: #18181b; 
    --text-primary: #ededed; 
    --text-secondary: #a1a1aa; 
    --accent-color: #D9042B; 
    --border-color: #27272a; 
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 20px;
    border: 1px solid transparent;
  }
}

@layer components {
  .btn-gradient {
    background: linear-gradient(to bottom, #B80223, #F42B4D);
    color: #ffffff;
    border: 1px solid #eb133d; 
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-gradient:hover {
    background: linear-gradient(to top, #B80223, #F42B4D);
    box-shadow: 0 0 24px rgba(217, 4, 43, 0.5), 0 4px 12px rgba(0, 0, 0, 0.5);
  }

  .text-gradient {
    background: linear-gradient(to right, #B80223, #F42B4D );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .text-accent {
    color: #D9042B;
  }
}